<footer class="footer">
  <div class="footerLeft">
    <p class="footerDisclaimer">
      This is fan made project, not affiliated with the Tolkien Estate. Middle-earth,
      The Lord of the Rings, and related works are trademarks of the Tolkien Estate
      and their respective rights holders.
    </p>
  </div>

  <div class="footerRight">
    <p class="footerCreator">
      Created by Konstantinos Gianniotis
    </p>
    <p class="footerCopyright">
      © {{ currentYear }}
    </p>
  </div>
</footer>
