<main class="main">

  <div class="content">

    <h1 class="title">Welcome to the <br>Spring of Arda</h1>

    <p class="welcomeText">

      <br><br><br><br>

      This website was created in order to help familiarise readers of Tolkien's works with
      the everchanging nature of the maps that were created.

      <br><br><br>

      When reading Tolkien's works, especailly The Silmarillion, a reader might be overwhelmed
      by the amount of information and names presented there. In regards to the political landscapes of
      Beleriand and Middle-Earth, many changes happen throughout the story. Furthermore, geological
      transformations sometimes are hard to consider and can't often be depicted with the in book maps.

      <br><br><br>

      Here in Spring of Arda, users can freely explore the constant evolution of the world of Tolkien, from
      it's creation in Ainoulidante to the start of the Fourth Age.

    </p>

    <br><br><br><br>

    <div class="exploreButton">
      <button routerLink="/map">
        Explore Middle Earth
      </button>
    </div>




  </div>



</main>

