/* You can add global styles to this file, and also import other style files */

*{
  font-family: cursive;
  background-color: rgb(219, 231, 209);
}

.title{
  text-align: center;
  font-size: 50px;
  color: rgb(116, 224, 130);
}
